# Python
_pycache_/
*.pyc
.venv/
venv/
env/
.Python

# Node
node_modules/
dist/
build/
*.log

# OS / Editors
.vscode/
.idea/
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.*.local

# Python virtualenv files
pip-log.txt

# Packages
*.egg
*.egg-info/

# macOS
*.DS_Store
